{
  "openapi": "3.0.3",
  "info": {
    "title": "Rebell Payments API",
    "version": "0.2.0-draft",
    "description": "\nOpenAPI derived from \"Rebell API Specifications – (Draft for estimate integration)\".\nThis spec covers authentication headers (RSA SHA256 signature), payment creation, inquiry, retail pay,\nand webhook notification payloads.\n\n---\n## Swagger UI local setup (dynamic headers)\nThis API requires `Request-Time` (RFC 3339) and an RSA-SHA256 `Signature` computed **at request time** over:\n\n```text\nMETHOD + \"\\n\" + HTTP_URI + \"\\n\" + Client-Id + \"\\n\" + Request-Time + \"\\n\" + BODY\n```\n\n**Recommended pattern (no cloud):**\n- Serve this spec with Swagger UI locally.\n- Use a `requestInterceptor` to set `Client-Id`, compute fresh `Request-Time`, and call a **local signer** (running on localhost) to produce the base64 signature.\n- Inject the resulting header: `Signature: algorithm=SHA256withRSA, keyVersion={keyVersion}, signature={base64}`.\n\nSee `x-swagger-ui-requestInterceptor` in this spec for a drop-in snippet and the minimal Node.js signer.\n\n\n### Note on Swagger UI layouts\nIf you see `No layout defined for \"StandaloneLayout\"`, either:\n- include `SwaggerUIStandalonePreset` in your HTML and set `layout: \"StandaloneLayout\"`, **or**\n- simply use `layout: \"BaseLayout\"` (this spec's embedded snippet uses BaseLayout for compatibility).\n"
  },
  "servers": [
    {
      "url": "https://api.rebell.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Signature and headers"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Webhooks"
    }
  ],
  "security": [
    {
      "RebellSignature": [],
      "ClientId": [],
      "RequestTime": []
    }
  ],
  "paths": {
    "/v1/payments/createQROrder": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Initiate Online Payment with QR Code (Merchant Presented QR)",
        "operationId": "createQROrder",
        "security": [
          {
            "RebellSignature": [],
            "ClientId": [],
            "RequestTime": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQROrderRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "bizType": "ORDER_CODE",
                    "productCode": "5105010010000100040",
                    "codeType": "CGCP",
                    "paymentRequestId": "20220914595540652867492",
                    "paymentAmount": {
                      "currency": "EUR",
                      "value": 1000
                    },
                    "order": {
                      "orderDescription": "Latte x2",
                      "orderMemo": "No sugar",
                      "latitude": "45.0703",
                      "longitude": "7.6869",
                      "transactionAddress": "Torino||Corso Duca degli Abruzzi,24||10129||IT||Italy",
                      "merchant": {
                        "store": {
                          "externalStoreId": "STORE_001"
                        }
                      }
                    },
                    "paymentNotifyUrl": "https://merchant.example.com/rebell/webhook",
                    "extendInfo": "{\"key\":\"value\"}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQROrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node.js",
            "label": "Node (on-the-fly signature)",
            "source": "\n```js\nimport fetch from \"node-fetch\";\nimport crypto from \"crypto\";\nconst BASE = \"https://api.rebell.com\";\nconst PATH = \"/v1/payments/createQROrder\";\nconst METHOD = \"POST\";\nconst CLIENT_ID = \"YOUR_CLIENT_ID\";\nconst KEY_VERSION = \"0\";\nconst PRIVATE_KEY = process.env.REBELL_PRIVKEY_PEM;\nconst body = {bizType: ORDER_CODE, codeType: CGCP, order: {orderDescription: Latte x2}, paymentAmount: {\n    currency: EUR, value: 1000}, paymentNotifyUrl: 'https://merchant.example.com/rebell/webhook',\n  paymentRequestId: REQ_demo_001, productCode: '5105010010000100040'};\nconst requestTime = new Date().toISOString();\nconst toSign = [METHOD, PATH, CLIENT_ID, requestTime, JSON.stringify(body)].join(\"\\n\");\nconst signer = crypto.createSign(\"RSA-SHA256\");\nsigner.update(toSign);\nconst signatureB64 = signer.sign(PRIVATE_KEY, \"base64\");\nconst res = await fetch(BASE + PATH, {\n  method: METHOD,\n  headers: {\n    \"content-type\":\"application/json\",\n    \"Client-Id\": CLIENT_ID,\n    \"Request-Time\": requestTime,\n    \"Signature\": `algorithm=SHA256withRSA, keyVersion=${KEY_VERSION}, signature=${signatureB64}`\n  },\n  body: JSON.stringify(body)\n});\nconsole.log(res.status, await res.text());\n```\n"
          },
          {
            "lang": "Python",
            "label": "Python (on-the-fly signature)",
            "source": "\n```python\nimport json, base64, requests, datetime\nfrom cryptography.hazmat.primitives import serialization, hashes\nfrom cryptography.hazmat.primitives.asymmetric import padding\nBASE = \"https://api.rebell.com\"\nPATH = \"/v1/payments/createQROrder\"\nMETHOD = \"POST\"\nCLIENT_ID = \"YOUR_CLIENT_ID\"\nKEY_VERSION = \"0\"\nbody = {bizType: ORDER_CODE, codeType: CGCP, order: {orderDescription: Latte x2}, paymentAmount: {\n    currency: EUR, value: 1000}, paymentNotifyUrl: 'https://merchant.example.com/rebell/webhook',\n  paymentRequestId: REQ_demo_001, productCode: '5105010010000100040'}\nbody_json = json.dumps(body, separators=(',',':')) if body else \"\"\nrequest_time = datetime.datetime.utcnow().isoformat() + \"Z\"\nto_sign = \"\\n\".join([METHOD, PATH, CLIENT_ID, request_time, body_json])\nwith open(\"private_key.pem\",\"rb\") as f:\n    key = serialization.load_pem_private_key(f.read(), password=None)\nsignature = key.sign(to_sign.encode(), padding.PKCS1v15(), hashes.SHA256())\nsignature_b64 = base64.b64encode(signature).decode()\nheaders = {\n    \"content-type\":\"application/json\",\n    \"Client-Id\": CLIENT_ID,\n    \"Request-Time\": request_time,\n    \"Signature\": f\"algorithm=SHA256withRSA, keyVersion={KEY_VERSION}, signature={signature_b64}\"\n}\nr = requests.post(BASE+PATH, headers=headers, data=body_json or None)\nprint(r.status_code, r.text)\n```\n"
          }
        ]
      }
    },
    "/v1/payments/inquiryPayment": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Get Payment Information (Polling)",
        "operationId": "inquiryPayment",
        "security": [
          {
            "RebellSignature": [],
            "ClientId": [],
            "RequestTime": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InquiryRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "paymentId": "20220914595540652867492",
                    "paymentRequestId": "REQ_abc_123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InquiryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node.js",
            "label": "Node (on-the-fly signature)",
            "source": "\n```js\nimport fetch from \"node-fetch\";\nimport crypto from \"crypto\";\nconst BASE = \"https://api.rebell.com\";\nconst PATH = \"/v1/payments/inquiryPayment\";\nconst METHOD = \"POST\";\nconst CLIENT_ID = \"YOUR_CLIENT_ID\";\nconst KEY_VERSION = \"0\";\nconst PRIVATE_KEY = process.env.REBELL_PRIVKEY_PEM;\nconst body = {paymentId: PAY_demo_001, paymentRequestId: REQ_demo_001};\nconst requestTime = new Date().toISOString();\nconst toSign = [METHOD, PATH, CLIENT_ID, requestTime, JSON.stringify(body)].join(\"\\n\");\nconst signer = crypto.createSign(\"RSA-SHA256\");\nsigner.update(toSign);\nconst signatureB64 = signer.sign(PRIVATE_KEY, \"base64\");\nconst res = await fetch(BASE + PATH, {\n  method: METHOD,\n  headers: {\n    \"content-type\":\"application/json\",\n    \"Client-Id\": CLIENT_ID,\n    \"Request-Time\": requestTime,\n    \"Signature\": `algorithm=SHA256withRSA, keyVersion=${KEY_VERSION}, signature=${signatureB64}`\n  },\n  body: JSON.stringify(body)\n});\nconsole.log(res.status, await res.text());\n```\n"
          },
          {
            "lang": "Python",
            "label": "Python (on-the-fly signature)",
            "source": "\n```python\nimport json, base64, requests, datetime\nfrom cryptography.hazmat.primitives import serialization, hashes\nfrom cryptography.hazmat.primitives.asymmetric import padding\nBASE = \"https://api.rebell.com\"\nPATH = \"/v1/payments/inquiryPayment\"\nMETHOD = \"POST\"\nCLIENT_ID = \"YOUR_CLIENT_ID\"\nKEY_VERSION = \"0\"\nbody = {paymentId: PAY_demo_001, paymentRequestId: REQ_demo_001}\nbody_json = json.dumps(body, separators=(',',':')) if body else \"\"\nrequest_time = datetime.datetime.utcnow().isoformat() + \"Z\"\nto_sign = \"\\n\".join([METHOD, PATH, CLIENT_ID, request_time, body_json])\nwith open(\"private_key.pem\",\"rb\") as f:\n    key = serialization.load_pem_private_key(f.read(), password=None)\nsignature = key.sign(to_sign.encode(), padding.PKCS1v15(), hashes.SHA256())\nsignature_b64 = base64.b64encode(signature).decode()\nheaders = {\n    \"content-type\":\"application/json\",\n    \"Client-Id\": CLIENT_ID,\n    \"Request-Time\": request_time,\n    \"Signature\": f\"algorithm=SHA256withRSA, keyVersion={KEY_VERSION}, signature={signature_b64}\"\n}\nr = requests.post(BASE+PATH, headers=headers, data=body_json or None)\nprint(r.status_code, r.text)\n```\n"
          }
        ]
      }
    },
    "/v1/payments/retailPay": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Initiate Retail Payment (Customer Wallet Presented QR/Barcode)",
        "operationId": "retailPay",
        "security": [
          {
            "RebellSignature": [],
            "ClientId": [],
            "RequestTime": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetailPayRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "productCode": "5105010010000100040",
                    "paymentRequestId": "REQ_abc_456",
                    "paymentAuthCode": "289123456789012345",
                    "paymentAmount": {
                      "currency": "EUR",
                      "value": 2500
                    },
                    "order": {
                      "orderDescription": "In-store purchase"
                    },
                    "paymentNotifyUrl": "https://merchant.example.com/rebell/webhook",
                    "extendInfo": "{\"promo\":\"WINTER\"}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetailPayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node.js",
            "label": "Node (on-the-fly signature)",
            "source": "\n```js\nimport fetch from \"node-fetch\";\nimport crypto from \"crypto\";\nconst BASE = \"https://api.rebell.com\";\nconst PATH = \"/v1/payments/retailPay\";\nconst METHOD = \"POST\";\nconst CLIENT_ID = \"YOUR_CLIENT_ID\";\nconst KEY_VERSION = \"0\";\nconst PRIVATE_KEY = process.env.REBELL_PRIVKEY_PEM;\nconst body = {paymentAmount: {currency: EUR, value: 2500}, paymentAuthCode: '289123456789012345',\n  paymentNotifyUrl: 'https://merchant.example.com/rebell/webhook', paymentRequestId: REQ_demo_002,\n  productCode: '5105010010000100040'};\nconst requestTime = new Date().toISOString();\nconst toSign = [METHOD, PATH, CLIENT_ID, requestTime, JSON.stringify(body)].join(\"\\n\");\nconst signer = crypto.createSign(\"RSA-SHA256\");\nsigner.update(toSign);\nconst signatureB64 = signer.sign(PRIVATE_KEY, \"base64\");\nconst res = await fetch(BASE + PATH, {\n  method: METHOD,\n  headers: {\n    \"content-type\":\"application/json\",\n    \"Client-Id\": CLIENT_ID,\n    \"Request-Time\": requestTime,\n    \"Signature\": `algorithm=SHA256withRSA, keyVersion=${KEY_VERSION}, signature=${signatureB64}`\n  },\n  body: JSON.stringify(body)\n});\nconsole.log(res.status, await res.text());\n```\n"
          },
          {
            "lang": "Python",
            "label": "Python (on-the-fly signature)",
            "source": "\n```python\nimport json, base64, requests, datetime\nfrom cryptography.hazmat.primitives import serialization, hashes\nfrom cryptography.hazmat.primitives.asymmetric import padding\nBASE = \"https://api.rebell.com\"\nPATH = \"/v1/payments/retailPay\"\nMETHOD = \"POST\"\nCLIENT_ID = \"YOUR_CLIENT_ID\"\nKEY_VERSION = \"0\"\nbody = {paymentAmount: {currency: EUR, value: 2500}, paymentAuthCode: '289123456789012345',\n  paymentNotifyUrl: 'https://merchant.example.com/rebell/webhook', paymentRequestId: REQ_demo_002,\n  productCode: '5105010010000100040'}\nbody_json = json.dumps(body, separators=(',',':')) if body else \"\"\nrequest_time = datetime.datetime.utcnow().isoformat() + \"Z\"\nto_sign = \"\\n\".join([METHOD, PATH, CLIENT_ID, request_time, body_json])\nwith open(\"private_key.pem\",\"rb\") as f:\n    key = serialization.load_pem_private_key(f.read(), password=None)\nsignature = key.sign(to_sign.encode(), padding.PKCS1v15(), hashes.SHA256())\nsignature_b64 = base64.b64encode(signature).decode()\nheaders = {\n    \"content-type\":\"application/json\",\n    \"Client-Id\": CLIENT_ID,\n    \"Request-Time\": request_time,\n    \"Signature\": f\"algorithm=SHA256withRSA, keyVersion={KEY_VERSION}, signature={signature_b64}\"\n}\nr = requests.post(BASE+PATH, headers=headers, data=body_json or None)\nprint(r.status_code, r.text)\n```\n"
          }
        ]
      }
    },
    "/webhooks/paymentNotify": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Payment notification (callback from Rebell to Merchant)",
        "description": "Merchant-provided HTTPS endpoint that receives payment events. Events: `payment.succeeded`, `payment.failed`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentNotification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookAck"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node.js",
            "label": "Node (on-the-fly signature)",
            "source": "\n```js\nimport fetch from \"node-fetch\";\nimport crypto from \"crypto\";\nconst BASE = \"https://api.rebell.com\";\nconst PATH = \"/webhooks/paymentNotify\";\nconst METHOD = \"POST\";\nconst CLIENT_ID = \"YOUR_CLIENT_ID\";\nconst KEY_VERSION = \"0\";\nconst PRIVATE_KEY = process.env.REBELL_PRIVKEY_PEM;\nconst body = {paymentAmount: {currency: EUR, value: 1000}, paymentId: PAY_demo_001, paymentRequestId: REQ_demo_001,\n  paymentStatus: SUCCESS, paymentTime: '2025-01-01T12:00:00Z'};\nconst requestTime = new Date().toISOString();\nconst toSign = [METHOD, PATH, CLIENT_ID, requestTime, JSON.stringify(body)].join(\"\\n\");\nconst signer = crypto.createSign(\"RSA-SHA256\");\nsigner.update(toSign);\nconst signatureB64 = signer.sign(PRIVATE_KEY, \"base64\");\nconst res = await fetch(BASE + PATH, {\n  method: METHOD,\n  headers: {\n    \"content-type\":\"application/json\",\n    \"Client-Id\": CLIENT_ID,\n    \"Request-Time\": requestTime,\n    \"Signature\": `algorithm=SHA256withRSA, keyVersion=${KEY_VERSION}, signature=${signatureB64}`\n  },\n  body: JSON.stringify(body)\n});\nconsole.log(res.status, await res.text());\n```\n"
          },
          {
            "lang": "Python",
            "label": "Python (on-the-fly signature)",
            "source": "\n```python\nimport json, base64, requests, datetime\nfrom cryptography.hazmat.primitives import serialization, hashes\nfrom cryptography.hazmat.primitives.asymmetric import padding\nBASE = \"https://api.rebell.com\"\nPATH = \"/webhooks/paymentNotify\"\nMETHOD = \"POST\"\nCLIENT_ID = \"YOUR_CLIENT_ID\"\nKEY_VERSION = \"0\"\nbody = {paymentAmount: {currency: EUR, value: 1000}, paymentId: PAY_demo_001, paymentRequestId: REQ_demo_001,\n  paymentStatus: SUCCESS, paymentTime: '2025-01-01T12:00:00Z'}\nbody_json = json.dumps(body, separators=(',',':')) if body else \"\"\nrequest_time = datetime.datetime.utcnow().isoformat() + \"Z\"\nto_sign = \"\\n\".join([METHOD, PATH, CLIENT_ID, request_time, body_json])\nwith open(\"private_key.pem\",\"rb\") as f:\n    key = serialization.load_pem_private_key(f.read(), password=None)\nsignature = key.sign(to_sign.encode(), padding.PKCS1v15(), hashes.SHA256())\nsignature_b64 = base64.b64encode(signature).decode()\nheaders = {\n    \"content-type\":\"application/json\",\n    \"Client-Id\": CLIENT_ID,\n    \"Request-Time\": request_time,\n    \"Signature\": f\"algorithm=SHA256withRSA, keyVersion={KEY_VERSION}, signature={signature_b64}\"\n}\nr = requests.post(BASE+PATH, headers=headers, data=body_json or None)\nprint(r.status_code, r.text)\n```\n"
          }
        ],
        "operationId": "paymentNotify"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "RebellSignature": {
        "type": "apiKey",
        "in": "header",
        "name": "Signature",
        "description": "RSA SHA256 signature header. Example: `Signature: algorithm=SHA256withRSA, keyVersion=0, signature=BASE64...`"
      },
      "ClientId": {
        "type": "apiKey",
        "in": "header",
        "name": "Client-Id",
        "description": "Rebell-assigned Client Id."
      },
      "RequestTime": {
        "type": "apiKey",
        "in": "header",
        "name": "Request-Time",
        "description": "RFC3339 timestamp (e.g., 2019-05-28T12:12:00+08:00)."
      }
    },
    "schemas": {
      "Result": {
        "type": "object",
        "properties": {
          "resultStatus": {
            "type": "string",
            "enum": [
              "S",
              "F",
              "U",
              "A"
            ]
          },
          "resultCode": {
            "type": "string"
          },
          "resultMessage": {
            "type": "string"
          }
        },
        "required": [
          "resultStatus"
        ]
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "currency",
          "value"
        ],
        "description": "Amount in minor units (e.g., cents)."
      },
      "Store": {
        "type": "object",
        "properties": {
          "externalStoreId": {
            "type": "string"
          }
        },
        "required": [
          "externalStoreId"
        ]
      },
      "Merchant": {
        "type": "object",
        "properties": {
          "store": {
            "$ref": "#/components/schemas/Store"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "orderDescription": {
            "type": "string"
          },
          "orderMemo": {
            "type": "string"
          },
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          },
          "transactionAddress": {
            "type": "string",
            "description": "Merchant store address separated by '||'. Example: 'Torino||Corso Duca degli Abruzzi,24||10129||IT||Italy'"
          },
          "merchant": {
            "$ref": "#/components/schemas/Merchant"
          }
        },
        "required": [
          "orderDescription"
        ]
      },
      "CreateQROrderRequest": {
        "type": "object",
        "properties": {
          "bizType": {
            "type": "string",
            "enum": [
              "ORDER_CODE"
            ]
          },
          "productCode": {
            "type": "string"
          },
          "codeType": {
            "type": "string",
            "enum": [
              "CGCP"
            ]
          },
          "paymentRequestId": {
            "type": "string"
          },
          "paymentAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          },
          "paymentNotifyUrl": {
            "type": "string",
            "format": "uri"
          },
          "extendInfo": {
            "type": "string",
            "description": "JSON string e.g. {\"key\":\"value\"}"
          }
        },
        "required": [
          "bizType",
          "productCode",
          "codeType",
          "paymentRequestId",
          "paymentAmount"
        ]
      },
      "CreateQROrderResponse": {
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Result"
          },
          "paymentRequestId": {
            "type": "string"
          },
          "paymentId": {
            "type": "string"
          },
          "qrCode": {
            "type": "string"
          }
        },
        "required": [
          "result"
        ]
      },
      "InquiryRequest": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "paymentRequestId": {
            "type": "string"
          }
        },
        "required": [
          "paymentId",
          "paymentRequestId"
        ]
      },
      "InquiryResponse": {
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Result"
          },
          "paymentId": {
            "type": "string"
          },
          "paymentRequestId": {
            "type": "string"
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "PROCESSING",
              "FAIL"
            ]
          },
          "paymentTime": {
            "type": "string",
            "format": "date-time"
          },
          "paymentAmount": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "required": [
          "result",
          "paymentStatus"
        ]
      },
      "RetailPayRequest": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string"
          },
          "paymentRequestId": {
            "type": "string"
          },
          "paymentAuthCode": {
            "type": "string",
            "description": "User wallet QR/Barcode content"
          },
          "paymentAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          },
          "paymentNotifyUrl": {
            "type": "string",
            "format": "uri"
          },
          "extendInfo": {
            "type": "string"
          }
        },
        "required": [
          "productCode",
          "paymentRequestId",
          "paymentAuthCode",
          "paymentAmount",
          "paymentNotifyUrl"
        ]
      },
      "RetailPayResponse": {
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Result"
          },
          "paymentRequestId": {
            "type": "string"
          },
          "paymentId": {
            "type": "string"
          },
          "paymentTime": {
            "type": "string",
            "format": "date-time"
          },
          "paymentAmount": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "required": [
          "result"
        ]
      },
      "PaymentNotification": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "paymentRequestId": {
            "type": "string"
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "PROCESSING",
              "FAIL"
            ]
          },
          "paymentAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "paymentTime": {
            "type": "string",
            "format": "date-time"
          },
          "paymentCreatedTime": {
            "type": "string",
            "description": "ISO 8601 creation time"
          }
        },
        "required": [
          "paymentId",
          "paymentRequestId",
          "paymentStatus",
          "paymentAmount",
          "paymentTime"
        ]
      },
      "WebhookAck": {
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Result"
          }
        },
        "required": [
          "result"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Result"
          }
        },
        "required": [
          "result"
        ]
      }
    }
  },
  "x-swagger-ui-requestInterceptor": "\n// public/index.html (inside SwaggerUIBundle config)\nconst CLIENT_ID = \"YOUR_CLIENT_ID\";\nconst KEY_VERSION = \"0\";\nasync function signLocally(toSign) {\n  const r = await fetch(\"/sign\", { method: \"POST\", headers: { \"content-type\": \"application/json\" }, body: JSON.stringify({ toSign }) });\n  const { signatureB64 } = await r.json();\n  return signatureB64;\n}\nconst ui = SwaggerUIBundle({\n  url: \"rebell-openapi.yaml\",\n  dom_id: \"#swagger-ui\",\n  requestInterceptor: async (req) => {\n    const requestTime = new Date().toISOString();\n    const bodyStr = req.body ? (typeof req.body === \"string\" ? req.body : JSON.stringify(req.body)) : \"\";\n    const path = new URL(req.url).pathname;\n    const toSign = [req.method.toUpperCase(), path, CLIENT_ID, requestTime, bodyStr].join(\"\\n\");\n    const signatureB64 = await signLocally(toSign);\n    req.headers[\"Client-Id\"] = CLIENT_ID;\n    req.headers[\"Request-Time\"] = requestTime;\n    req.headers[\"Signature\"] = `algorithm=SHA256withRSA, keyVersion=${KEY_VERSION}, signature=${signatureB64}`;\n    return req;\n  },\n  layout: \"BaseLayout\",\n});\n\n// signer.js (localhost helper)\nimport express from \"express\";\nimport crypto from \"crypto\";\nconst app = express();\napp.use(express.json());\nconst PRIVATE_KEY = process.env.REBELL_PRIVKEY_PEM;\napp.post(\"/sign\", (req, res) => {\n  const signer = crypto.createSign(\"RSA-SHA256\");\n  signer.update(req.body.toSign);\n  res.json({ signatureB64: signer.sign(PRIVATE_KEY, \"base64\") });\n});\napp.listen(3000);\n"
}
